.App {
  padding: 30px;
}

.examList > * {
  margin: 15px;
  margin-left: 0px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#appBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* align-items: center; */
  background: '#e0e0e0';
  color:'black';

}
.container > * {

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: sans-serif;
  text-align: center;
  padding-top: 30px;
  margin: auto;
  flex-direction: column;
}



.time {
  font-size: 32px;
}

