.App {
  margin: 50px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 45px;
  }
}

#eventList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 650px;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.addEditModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

#circles {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.circlesWrapper {
  font-size: 10px;
}
#appBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background: "#e0e0e0";
  color: "black";
  height: 100px;
}

.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: sans-serif;
  text-align: center;
  padding-top: 30px;
  margin: auto;
  flex-direction: column;
}

.time {
  font-size: 18px;
}

.dimension {
  font-size: 10px;
}
