.App > * {

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
  margin: auto;
  flex-direction: column;
}

.Local > * {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: sans-serif;
    text-align: center;
    padding: 0px;
    margin: auto;
    flex-direction: column;
}

.time {
  font-size: 32px;
}
